<p>Bugsnag Rails demo says: It didn't crash!</p>

<p>
    But still go check <a href="https://app.bugsnag.com">your Bugsnag dashboard</a>
    for a new notification.
</p>

<p>Check out the <code class="upper">user</code> tab to see the metadata.</p>

<p><a href="/">&larr; return to examples</a></p>
