<h2>Que</h2>

<p>
    Que has queued the callbacks task, check
    <a href="https://app.bugsnag.com">your Bugsnag dashboard</a> for the result!
</p>

<p><a href="/que">&larr; return to Que examples</a></p>
