<h2>Bugsnag Que demo</h2>

<p>This route demonstrates how to use Bugsnag with Que.</p>

<p>
    While testing the examples open
    <a href="https://app.bugsnag.com">your Bugsnag dashboard</a>
    in order to see the example errors and exceptions being received.
</p>

<p>
    Make sure you have a PostgreSQL instance running that your test application
    can connect to before running these examples.
</p>

<ol>
    <li>
        <p><a href="/que/crash">Crash</a></p>

        <p>
            Raises an error within the framework, generating a report in the
            Bugsnag dashboard.
        </p>
    </li>

    <li>
        <a href="/que/crash_with_callback">Crash and use callbacks</a>

        <p>
            Raises an exception within the framework, but with additional data
            attached to the report.
        </p>

        <p>
            By registering a callback before the error occurs useful data can
            be attached as a tab in the Bugsnag dashboard.
        </p>
    </li>
</ol>

<p><a href="/">&larr; return home</a></p>
