<h2>Sidekiq</h2>

<p>
    Sidekiq is performing a task that will crash, but registers a callback
    before this to attach additional metadata.
</p>

<p>
    Check <a href="https://app.bugsnag.com">your Bugsnag dashboard</a> for the result!
</p>

<p><a href="/sidekiq">&larr; return to Sidekiq examples</a></p>
