<h2>Sidekiq</h2>

<p>
    Sidekiq is performing a task that will crash, so check
    <a href="https://app.bugsnag.com">your Bugsnag dashboard</a> for the result!
</p>

<p><a href="/sidekiq">&larr; return to Sidekiq examples</a></p>
