<!DOCTYPE html>
<html>
  <head>
    <title>Bugsnag Rails v6.0 demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <h1>Bugsnag Rails v6.0 demo</h1>

    <%= yield %>
  </body>
</html>
